        .meuNome { 
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          text-align: center;
        }

        p { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

        body {
            background-color: rgb(175, 245, 175);            
            margin-top: 100px;
            margin-left: 100px;
            margin-right: 100px;

        }

        strong {
            color: gold;
        }
        em {
            color: green;
        }

        .organizacao {
            font-size: 50px;
        }

        .proatividade {
            font-size: 40px;
        }

        .trabalho-em-equipe {
            font-size: 30px;
        }

        .determinacao {
            font-size: 20px;
        }

        .detalhes {
            font-size: 10px;
        }     

        #foto {
            float: left;
            height: 260px;
            padding: 20px;
            background-color:rgb(90, 161, 90);            
        }

        .descricao {
            position: absolute;
            top: 50px;            
            right: 50px;
            left: 50 px;
            width: 250px;
        }

        .img-container {
            width: 100%;
            height: 300px;
            position: relative;
        }

        div {
            border: 2px solid green;
            text-align: center;
            width: 800px;
        }

        ul li:nth-child(odd) {
            background-color: rgb(9, 78, 9);
        }