        .meuNome { 
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          text-align: center;
        }

        p { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

        body {
            background-color: #235789;
        }

        strong {
            color: gold;
        }
        em {
            color: green;
        }

        .organizacao {
            font-size: 50px;
        }

        .proatividade {
            font-size: 40px;
        }

        .trabalho-em-equipe {
            font-size: 30px;
        }

        .determinacao {
            font-size: 20px;
        }

        .detalhes {
            font-size: 10px;
        }     

        div {
            border: 2px solid green;
        }